.tab-menu {
    display: flex;
    gap: 40px;
    border-bottom: 3px solid #ccc;
    margin-bottom: 30px;
    padding-left: 50px;
}

.tab-item {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    padding: 30px 0 10px 50px;
    position: relative;
}

/* 選択されているタブのスタイル */
.tab-item.active {
    color: #ff0000;
}

/* 商品一覧のグリッドレイアウト */
.item-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 0 50px;
}

/*画像の大きさ*/
.image {
    width: 200px;
}