.tab-menu {
    border-bottom: 3px solid #ccc;
    padding-top: 50px;
}

.user-form {
    display: flex;
    justify-content: space-between;
    margin: 0 200px;
}

.user-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
    border-bottom: none;
}

.user-avatar__img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    background-color: #ccc;
    border-radius: 50%;
}

.user-avatar__name {
    font-weight: bold;
    font-size: 30px;
    color: #333;
    margin: auto 100px;
}

.mypage-btn-link {
    display: inline-block;
    padding: 10px 30px;
    border: 2px solid red;
    color: red;
    text-decoration: none;
    border-radius: 4px;
    font-weight: bold;
    transition: 0.3s;
}

.tab-items {
    display: flex;
    padding-left: 100px;
    margin-top: 20px;
}

.tab-item {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    padding: 5px 30px;
    border: none;
    background: none;
    cursor: pointer;
    gap: 50px;
}

.tab-item.active {
    color: red;
}

/* 商品一覧のグリッドレイアウト */
.item-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 30px 50px;
}

.item-img {
    width: 200px;
}
