/* レイアウトの骨組み */
.product-container {
    display: flex;
    margin: 60px 50px 10px 50px;
    gap: 60px;
}

.left-content {
    flex:2
}

.right-content {
    flex: 1;
    position: sticky;
    top: 60px;
    /* ヘッダーの高さ分などを考慮 */
    height: fit-content;
}

/* 修正後のCSS */
.product-visual {
    display: flex;
    align-items: self-start;
    /* これで画像とテキストの「中央」が揃います */
    gap: 20px;
    /* 画像とテキストの間に少し余白を作ると綺麗です */
    border-bottom: 1px solid #000;
    padding-bottom: 30px;
}

.product-group {
    border-bottom: 1px solid #000;
    padding-bottom: 30px;
}

.product-image {
    width: 150px;
    display: block;
    /* 下部に謎の隙間ができるのを防ぎます */
}

.product-name {
    margin: 0;
    /* デフォルトの余白を消すとより正確に揃います */
    font-size: 24px;
}

.product-price {
    font-size: 20px;
}

.product-header {
    font-size: 18px;
    font-weight: bold;
    margin-left: 20px;
    display: flex;
    justify-content: space-between;
}

.payment-method {
    width: 300px;
    padding: 5px;
    margin-left: 80px;
    margin-bottom: 30px;
}

.post-code,
.address-building {
    width: 300px;
    padding: 5px;
    margin-left: 80px;
    margin-bottom: 10px;
}

.meta-item {
    display: flex;
    justify-content: space-around;
    gap: 50px;
    width: 300px;
    margin: 32px;
}

.meta-list {
    border: 1px solid #000;
    margin: 0 40px;
}

.meta-item__payment {
    text-align: center;
}

.btn-primary {
    background-color: red;
    width: 85%;
    color: white;
    border-color: red;
    padding: 10px;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    margin-top: 50px;
    margin-left: 40px;
}

/* 未選択の時は少し薄くするなどの演出 */
#display_payment_method {
    font-weight: bold;
    color: #333;
}